@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';
@import url('https://use.typekit.net/yab4iwr.css');

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

* {
    font-family: 'din-2014', sans-serif !important;
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=''] {
    display: none;
}

body {
    overflow-x: hidden;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 204 100% 37% !important;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 98%;
        --secondary-foreground: 0 0% 9%;

        --tertiary: 0 0% 96.1%;
        --tertiary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 212, 73%, 14%;
        --foreground: 0 0% 98%;

        --card: 194, 53%, 52%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 194, 53%, 52%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 8%;
        --secondary-foreground: 0 0% 98%;

        --tertiary: 0 0% 14.9%;
        --tertiary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 194, 53%, 52%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }

    .dark .logoLight {
        display: none !important;
    }

    .dark .logoDark {
        display: inline-block !important;
    }
}

@layer base {
    * {
        @apply border-border tracking-wide;
    }
    body {
        @apply bg-background text-foreground;
    }
}
